@(demoForm: Form[Demographics])
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Responses") {
    @*<h1>@responses.size response(s)</h1>*@

    @*<table class="table-bordered">*@
    @*<thead>*@
    @*<th>Response ID</th>*@
    @*<th>User Email</th>*@
    @*<th>Response</th>*@
    @*<th>Question ID</th>*@

    @*</thead>*@
    @*responses.map { response =>*@
    @*<tr>*@
    @*<td>@response.id</td>*@
    @*<td>@response.useremail</td>*@
    @*<td>@response.response.toString</td>*@
    @*<td>@response.questionid</td>*@
    @*<td>@form(routes.QuestionController.deleteQuestion(response.id)) {*@
    @*<input type="submit" value="Delete">*@
    @*}</td>*@

    @*</tr>*@
    @*}*@
    @*</table>*@
    <h2>Add a new background info stuff</h2>

    @form(routes.ResponseController.saveBgInfo) {
        @inputText(demoForm("questionId"))
        @inputText(demoForm("firstName"))
        @inputText(demoForm("lastName"))

        @inputText(demoForm("email"))
        @inputText(demoForm("age"))
        @inputText(demoForm("nationality"))
        @inputText(demoForm("hometown"))
        @inputText(demoForm("native_language"))
        @inputText(demoForm("other_langs"))
        @inputText(demoForm("relationship_status"))
        @inputText(demoForm("sexual_orientation"))
        @inputText(demoForm("student_type"))
        @inputText(demoForm("commuter"))
        @inputText(demoForm("current_city"))
        <input type="submit" value="Create">

    }
}

