@(passionsForm: Form[Passions])
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Responses") {
    @*<h1>@responses.size response(s)</h1>*@

    @*<table class="table-bordered">*@
    @*<thead>*@
    @*<th>Response ID</th>*@
    @*<th>User Email</th>*@
    @*<th>Response</th>*@
    @*<th>Question ID</th>*@

    @*</thead>*@
    @*responses.map { response =>*@
    @*<tr>*@
    @*<td>@response.id</td>*@
    @*<td>@response.useremail</td>*@
    @*<td>@response.response.toString</td>*@
    @*<td>@response.questionid</td>*@
    @*<td>@form(routes.QuestionController.deleteQuestion(response.id)) {*@
    @*<input type="submit" value="Delete">*@
    @*}</td>*@

    @*</tr>*@
    @*}*@
    @*</table>*@
    <h2>Add a new interest based question</h2>

    @helper.form(action = routes.ResponseController.readPassions()) {
        @inputText(passionsForm("passion"))
        @inputText(passionsForm("questionId"))
        @helper.inputRadioGroup(passionsForm("passionLevel"),
            options = Seq("1"->"1","2"->"2","3"->"3","4"->"4"),
            '_label -> "Passion Level")
        @helper.inputRadioGroup(passionsForm("expertiseLevel"),
        options = Seq("1"->"1","2"->"2","3"->"3","4"->"4"),
        '_label -> "Expertise Level")
        @inputText(passionsForm("offCampus"))
        @inputText(passionsForm("onCampus"))
        @helper.checkbox(passionsForm("willingToTeach"))
        @helper.checkbox(passionsForm("lookingForOthers"))

        <input type="submit" value="Create">

    }
}

