@(passions: String)
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Responses") {
    <h1>Just some passions here...</h1>

    <table class="table-bordered">
    <thead>


        <th>Passion</th>

    </thead>

    <tr>


        <td>@passions</td>

    @*<td>@form(routes.QuestionController.deleteQuestion(response.id)) {*@
    @*<input type="submit" value="Delete">*@
    @*}</td>*@

    </tr>

    </table>


    }


