@(questions: List[Question], questionForm: Form[Question])
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Questions List") {

    <h1>@questions.size question(s)</h1>

    <table class="table-bordered">
        <thead>
            <th>Question ID #</th>
            <th>Version #</th>
            <th>Question Text</th>
            <th>Question Section</th>
            <th>Question Type</th>
            <th>Delete Question</th>
        </thead>
    @questions.map { question =>
        <tr>
            <td>@question.id</td>
            <td>@question.versionid</td>
            <td>@question.question</td>
           <td>@question.questionSection</td>
            <td>@question.questionType</td>
            <td>@form(routes.QuestionController.deleteQuestion(question.id)) {
                <input type="submit" value="Delete">
                }</td>

        </tr>
    }
    </table>

    <h2>Add a new question</h2>

    @form(routes.QuestionController.newQuestion) {
        @inputText(questionForm("id"))
        @inputText(questionForm("versionid"))
        @inputText(questionForm("questiontext"))
        @inputText(questionForm("questionSection"))
        @inputText(questionForm("questionIdentifier"))
        @inputText(questionForm("questionType"))

        @*select(questionForm("questionType"),Seq(("binary", "likert")),
            '_label -> "Question Type", '_default -> "-- Select type --")
        @*<select class="form-control">*@
            @*<option>textentry</option>*@
            @*<option>likert</option>*@
            @*<option>binary</option>*@
            @*<option>dropdown</option>*@
            @*<option>checkbox</option>*@
        @*</select>*@
        <input type="submit" value="Create">

    }

}