@(responseForm:Form[Response])
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Responses") {

    <h2>Add a new response</h2>

        @form(routes.ResponseController.newResponse) {
            @inputText(responseForm("useremail"))
            @inputText(responseForm("questionid"))
            @inputText(responseForm("id"))
            @inputText(responseForm("response"))

        <input type="submit" value="Create">
    }

    <a href="http://connections.srihari.guru:9000/response/test"> post some JSON</a>


}


